<ion-header>

  <ion-navbar>
    <ion-title >Cadastro de produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <form [formGroup]="formulario"   >
    <ion-item >
      <ion-label stacked >Código</ion-label>
      <ion-input [(ngModel)]="produto.codigoProduto"  (ngModelChange)="produto.codigoProduto = $event.toLocaleUpperCase()" [brmasker]="{mask:'9999-99',len: 7, type: 'all'}" formControlName="codigoProduto" name="codigoProduto" type="text"></ion-input>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.codigoProduto.valid && (formulario.controls.codigoProduto.dirty || formulario.controls.codigoProduto.touched)">
        Por favor, informe um Código de Produto.
    </h6>
    <ion-item >
      <ion-label stacked >Nome</ion-label>
      <ion-input [(ngModel)]="produto.nome" (ngModelChange)="produto.nome = $event.toLocaleUpperCase()" name="nome" formControlName="nome" type="text"></ion-input>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.nome.valid && (formulario.controls.nome.dirty || formulario.controls.nome.touched)">
        Por favor, informe um nome.
    </h6>
    <ion-item >
      <ion-label stacked >Descrição</ion-label>
      <ion-input [(ngModel)]="produto.descricao" name="descricao"   formControlName="descricao" type="text"></ion-input>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.descricao.valid && (formulario.controls.descricao.dirty || formulario.controls.descricao.touched)">
        Por favor, informe uma descricao.
    </h6>
    <ion-item>
      <ion-label stacked >Categoria</ion-label>
      <ion-select [(ngModel)]="categoriaSelecionada" formControlName="categoria" [compareWith]="compareFn">
        <ion-option *ngFor="let categoria of categorias"  [value]="categoria">{{categoria.codigoCategoria}}-{{categoria.nomeCategoria | uppercase}}</ion-option>
      </ion-select>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.categoria.valid && (formulario.controls.categoria.dirty || formulario.controls.categoria.touched)">
        Por favor, informe uma categoria.
    </h6>
    <ion-item >
      <ion-label stacked >Quantidade Mínima Permitida</ion-label>
      <ion-input type="number" [(ngModel)]="produto.qtdMinimaEstoque" name="qtdMinimaEstoque" formControlName="qtdMinimaEstoque" ></ion-input>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.qtdMinimaEstoque.valid && (formulario.controls.qtdMinimaEstoque.dirty || formulario.controls.qtdMinimaEstoque.touched)">
        Por favor, informe uma quantidade mínima permitida em estoque.
    </h6>
  </form>

  <ion-fab top right edge>
      <button ion-fab (click)="salvarProduto()" [disabled]="formulario.invalid" >
        <ion-icon name="send"></ion-icon>
      </button>
  </ion-fab>
</ion-content>
