
<ion-header>

  <ion-navbar>
    <ion-title class="alinharLabel"   >Estoque Consolidado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar *ngIf="!mostrarForm" animated=true placeholder="Pesquisar" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of itensEstoqueSearch" [ngStyle]="{'background-color':item.quantidadeTotal === 0 ? '#808080': ''}">
        <h2><label>Código Produto: </label>{{item.codigo | uppercase }}</h2>
        <h4><label>Nome: </label>{{item.nomeProduto | uppercase }}</h4>
        <h4 class="negritar"><label >Quantidade Total: </label>{{item.quantidadeTotal }}</h4>
      </ion-item>
    </ion-list>
</ion-content>
