
<ion-header>

  <ion-navbar>
    <ion-title>Pedido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab [disabled]="produtosSelecionados.length === 0" (click)="enviarPedido()" >
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngFor="let cat of categorias " >
    <ion-list-header class="alinhamentoHeaderCategoria">
      {{cat.nomeCategoria | uppercase}}
      <ion-checkbox style="display: flex;  align-items: center;" (click)="selecionarCategoria(cat)"></ion-checkbox>
    </ion-list-header>
    <!-- <ion-item  > -->
        <!-- <ion-list-header class="alinhamentoHeaderCategoria">
          {{cat.nomeCategoria}}
          <ion-checkbox style="display: flex;  align-items: center;" (click)="selecionarCategoria(cat)"></ion-checkbox>
        </ion-list-header> -->
        <div *ngFor="let item of produtos | orderBy:'nome', 'categoria.nomeCategoria' " >
          <div class="margimItens " *ngIf="item.categoria.nomeCategoria === cat.nomeCategoria " >
            <ion-checkbox style="display: flex;  align-items: center;" (click)="selecionarProduto(item)"></ion-checkbox>
            <ion-list-header>
              <h1></h1>
              <h2><label>Código Produto: </label>{{item.codigoProduto | uppercase}}</h2>
              <h4><label>Nome: </label>{{item.nome | uppercase}}</h4>
              <h4 class="negritar"><label >Quantidade a Solicitar: </label>{{item.qtdSolicitado }}</h4>
            </ion-list-header>
          </div>
        </div>
    <!-- </ion-item> -->
  </ion-list>
  

</ion-content>
